<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>{{category.name}}</title>
</head>

<body>

    <!-- Start Navbar -->
    <nav class="card">
        <div class="container">
            <h1 class="text-upper display-inline-block"><a href="/" style="background: none; color: #242474">Catalog App</a></h1>

            {% if 'username' not in login_session%}
            <a href="/login" class="login-link float-right display-block">Login</a>
            {% else %}
            <a href="/disconnect" class="login-link float-right display-block">logout</a>
            {{login_session['username']}}
            {% endif %}
            <div class="clear-fix"></div>
        </div>
    </nav>
    <!-- End Navbar -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--
      We have the variables
        categories, items, category
      from the backend
    -->
    <!--Start Ctegories  -->
    <div class="container">
        <div class="card categories-min">
            <div class="card-header">
                <h3 class="text-upper text-center">Categories</h3>
            </div>
            <ul>
              {% for categ in categories: %}
              <li>
                  <a href="/categories/{{categ.id}}" class="category">
                      <img src="{{categ.picture}}" alt="">

                      <div class="overlay"></div>

                      <h4 class="text-center text-upper">{{categ.name}}</h4>
                  </a>
              </li>
              {% endfor %}
            </ul>
        </div>
        <!-- End Ctegories  -->

        <!-- Start Items -->
        <div class="card items-container">
            <div class="card-header">
                <h2 class="text-center text-upper">{{category.name}}</h2>
            </div>

            <ul>
              {% for item in items: %}
              <li><a href="/categories/{{item.category_id}}/items/{{item.id}}">{{item.name}}</a></li>
              {% endfor %}
            </ul>
        </div>
        <!-- End Items -->
        <div class="clear-fix"></div>
    </div>

    <!-- Start Footer -->
    <footer class="card text-center">
        <div class="container">
            Copyrights <a href="http://www.github.com/EngDiesel" class="text-upper">Mostafa Yasin</a> &copy; 2018
        </div>
    </footer>
    <!-- End Footer -->


</body>

</html>
